<p id="notice"><%= notice %></div>
<h2> Welcome! <%= @developer.name %> </h2>
<%= form_tag do %>
     <fieldset>
        <legend>Developer Info</legend>
        <div>
          <strong>Email:</strong>
          <%= @developer.email %>
        </div>

        <div>
          <strong>Project:</strong>
          <% if @developer.project.present? %>
            <%= @developer.project.title %>
          <% end %>
        </div>
        <div>
          <strong>Story:</strong>
          <% if @developer.story.present? %>
            <%= @developer.story.title %>
          <% else %>
          	<%= 'none' %>
          <% end %>
        </div>
        <br>
        <div class="medium btn pill-left default">
          <%= link_to 'Edit', edit_developer_path(@developer) %>
        </div>
        <div class="medium btn pill-right default">
          <%= link_to 'Project', project_path(@developer.project) %>
        </div>

        <br> <br>
        <div class="pretty medium primary btn">
          <%= link_to 'Logout', logout_path, :method => :delete %>
        </div>
      </fieldset>
<% end %>