<div class="depot_form" >
  <%= form_tag do %>
      <fieldset>
        <legend>Please Log In</legend>
        <br>
        <div>
          <label for="name" >Name:</label>
          <%= text_field_tag :name, params[:name] %>
        </div>
        <div>
          <label for="password" >Password:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <br>
        <div>
          <div>
            <label for="position" ></label>
            <% option = ['Developer','Admin'] %>
            <%= select("position", params[:position] , option.collect{ |c| [c, c] }, :selected => 'Admin')%>
          </div>
          <br>
          <div class="pretty medium primary btn">
            <%= submit_tag 'Login'%>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>


