<div class="login_form">
  <%= form_tag do %>
      <fieldset class="field_set">      
        <br>
        <div>
          <label for="email" >Email:</label>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div>
          <label for="password" >Password:</label>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <br>
        <div>
          <div>
            <label for="position" ></label>
            <% option = ['Developer','Admin'] %>
            <%= select("position", params[:position] , option.collect{ |c| [c, c] }, :selected => 'Admin')%>
          </div>
          <br>
          <div class="pretty medium primary btn">
            <%= submit_tag 'Login'%>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>


