<%= form_for(@project) do |f| %>
   <fieldset>
    <% if @project.title == nil %>
      <legend>New Project</legend>
    <% else %>
      <legend>Edit Project</legend>
    <% end %>
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      
      <div class="input textarea">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <br>
      <div class="pretty medium primary btn">
        <%= f.submit %>
      </div>
  </fieldset>
<% end %>
