<% unless notice == nil %><p class="success alert"><%= notice %></p><% end %>

<h2>Project Catalog</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><div class="pretty medium primary btn"><%= link_to 'Burndown Chart', burndown_path(project.id) %></div></td>
        <td><div class="pretty medium success btn"><%= link_to 'Show', project %></div></td>
        <td><div class="pretty medium warning btn"><%= link_to 'Edit', edit_project_path(project) %></div></td>
        <td><div class="pretty medium danger btn"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="medium btn pill-left default">
  <%= link_to 'New Project', new_project_path %>
</div>
<div class="medium btn pill-right default">
  <% if session[:admin_id] != nil %>
    <%= link_to 'Back', admin_path(session[:admin_id].to_s.to_sym) %>
  <% elsif session[:developer_id] != nil %>
    <%= link_to 'Back', developer_path(session[:developer_id].to_s.to_sym) %>
  <% end %>
</div>
