<% unless notice == nil %><p class="success alert"><%= notice %></p><% end %>
<%= form_tag do %>
  <fieldset>
    <legend>Project <%= @project.title %></legend>
    <p>
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
    

   </fieldset>
<% end %>

<%= form_tag do %>
  <fieldset>
    <legend>Developers</legend>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <% @project.developers.each do |developer| %>
          <tr>
            <td><%= developer.name %></td>
            <td><%= developer.email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </fieldset>
<% end %>

<h4>stories search:</h4>
<%= form_tag project_path(@project.id), :method => 'get' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<%= form_tag do %>
  <fieldset>
  	<legend>Story Board</legend>
  	<table>
  	  <thead>
   	 <tr>
   		  <th>Title</th>
  	    <th>Description</th>
        <th>Creator</th>
        <th>Effort</th>
   	 	  <th>Point</th>
   	 	  <th>Stages</th>
    	  <th colspan="4"></th>
   	 </tr>
  	 </thead>
  	
   	 <tbody>
   	 <% @stories.each do |story| %>
   	 <% if story.stages != 'Complete' && session[:position] == ['Developer'] %>
              <% developer = Developer.find_by_id(session[:developer_id]) %>
              <% if developer.line_item.present? && developer.line_item.story == story %>
                  <tr style="background-color:yellow">
                  <td><%= story.title %></td>
                  <td><%= story.description %></td>
                  <td><%= story.creator %></td>
                  <td><%= "#{story.effort} days" %></td>
                  <td><%= story.point %></td>
                  <td><%= story.stages %></td>
                  <td><%= link_to 'Show', story_path(story,:back => 'project') %></td>
                  <td>√</td>
              <% else %>
                  <tr>
                  <td><%= story.title %></td>
                  <td><%= story.description %></td>
                  <td><%= story.creator %></td>
                  <td><%= "#{story.effort} days" %></td>
                  <td><%= story.point %></td>
                  <td><%= story.stages %></td>
                  <td><%= link_to 'Show', story_path(story,:back => 'project') %></td>
          	      <td><%= link_to 'Sign', line_items_path(:story_id => story, :developer_id => session[:developer_id]), method: :post %></td>
              <% end %>
              <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'Change Stage', edit_story_path(story) %></td>         
              </tr>
     <% end %>
     <% if story.stages != 'Complete' && session[:position] == ['Admin'] %>
     		<tr>
        <td><%= story.title %></td>
        <td><%= story.description %></td>
        <td><%= story.creator %></td>
        <td><%= "#{story.effort} days" %></td>
        <td><%= story.point %></td>
        <td><%= story.stages %></td>
        <td><%= link_to 'Show', story_path(story,:back => 'project') %></td>
        </tr>
     <% end %>
     <% end %>
   	 </tbody>
  	</table>
  </fieldset>
<% end %>

<%= form_tag do %>
  <fieldset>
  	<legend>Complete Story</legend>
  	<table>
  	  <thead>
   	 <tr>
   		  <th>Title</th>
  	    <th>Description</th>
        <th>Creator</th>
        <th>Effort</th>
   	 	  <th>Point</th>
   	 	  <th>Stages</th>
    	  <th colspan="4"></th>
   	 </tr>
  	 </thead>
  	
   	 <tbody>
   	 <% @stories.each do |story| %>
   	 <% if story.stages == 'Complete' %>
              <tr>
              <td><%= story.title %></td>
              <td><%= story.description %></td>
              <td><%= story.creator %></td>
              <td><%= "#{story.effort} days" %></td>
              <td><%= story.point %></td>
              <td><%= story.stages %></td>
              <td><%= link_to 'Show', story_path(story,:back => 'project') %></td>
              <% if session[:position] == ['Developer'] %>
              <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'Change Stage', edit_story_path(story) %></td>
              <% end %>
              </tr>
     <% end %>
     <% end %>
   	 </tbody>
  	</table>
  </fieldset>
<% end %>

<%= form_tag do %>
	<fieldset>
  	<legend>Total Points</legend>
		<table>
			<% stages = ['Analysis','Ready For Dev','In Dev','Dev Complete','In Test','Complete'] %>
  	 <thead>
   	 <tr>
   	 		<th>Stages</th>
  	    <% stages.each do |stage|%>
  	    	<th><%= stage %></th>
  	    <% end %>

   	 </tr>
  	 </thead>
  	 
  	 <tbody>
  	 		<tr>
  	 			<td><%= 'Points'%></td>
  	 			<% stages.each do |stage|%>
  	 				<td><%= @project.sum_point[stage] %></td>
  	 			<% end %>
  	 		</tr>
  	 </tbody>
		</table>
	</fieldset>
<% end %>

  <% if session[:position] == ['Developer'] %>
    <div class="medium btn pill-left default">
      <%= link_to 'New Story',new_story_path %> 
    </div>
    <div class="medium btn pill-right default">
    	<%= link_to 'Back', developer_path(session[:developer_id].to_s.to_sym) %>
    </div>
  <% elsif session[:position] == ['Admin'] %>
    <div class="medium oval btn default">
  	 <%= link_to 'Back', projects_path %>
    </div>
  <% end %>


