<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :point %>
    <%= f.number_field :point %>
  </div>
  <br>
  <div class="field">
    <%= f.label :stages %>
    <% option = ['Analysis','Ready For Dev','In Dev',
                 'Dev Complete','In Test','Complete'] %>
    <%= select("story", "stages", option.collect{ |c| [c, c] }) %>
  </div>
  
  <% if session[:position] == ['Admin'] %>
  	<br>
    <div class="field">
      <%= f.label :project %><br>
      <% project = [Developer.find_by_id(session[:developer_id]).project] %>
      <%= select("story", "project_id", project.collect{ |c| [ c.title, c.id] }) %>
    </div>
  <% end %>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
