<p id="notice"><%= notice %></p>

<h2> Story </h2>
<fieldset>
  <legend>Information</legend>
	<p>
	  <strong>Title:</strong>
	  <%= @story.title %>
	</p>
	<p>
	  <strong>Description:</strong>
	  <%= @story.description %>
	</p>
	<p>
	  <strong>Point:</strong>
	  <%= @story.point %>
	</p>
	<p>
 	 <strong>Stages:</strong>
 	 <%= @story.stages %>
	</p>
	<p>
 	 <strong>Project:</strong>
 	 <%= @story.project.title %>
	</p>
</fieldset>
<fieldset>
  <legend>Developers</legend>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @story.developers.each do |developer| %>
        <tr>
          <td><%= developer.name %></td>
          <td><%= developer.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</fieldset>

<% if session[:position] == ['Developer'] %>
  <div class="medium oval btn default">
    <%= link_to 'Back', project_path(@story.project) %>
  </div>
<% elsif session[:position] == ['Admin'] %>
    <% if params[:back] == 'project'%>
      <div class="medium oval btn default">
      <%= link_to 'Back', project_path(@story.project) %>
    <% else %>
      <%= link_to 'Back', stories_path%>
    <% end %>
  </div>
<% end %>


