<!DOCTYPE html>
<html>
<head>
  <title>Storyboards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
  <% if request.original_fullpath == '/login' || request.original_url == 'http://0.0.0.0:3000/' || request.original_url == 'http://localhost:3000/' %>
	<body style="background-image: url(<%= asset_path 'rails.jpg' %>); background-size:100%; overflow-y:hidden;">
  <% else %>
  	<body>
  <% end %>
  <%= render(:partial => 'layouts/navigation') %>
  <%= yield %>
</body>
</html>
